In [1]:
print("This is my first line of code in python")

This is my first line of code in python

In [2]:
a=16
b=7
print(a+b)
print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

23
9
112
2.2857142857142856
2
2
268435456

In [3]:
inc = 91
inc += 1
print(inc)
inc -= 1
print(inc)

92
91

In [4]:
#logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

In [5]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [7]:
some_sentence = "There is a spaceat the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a spaceat the end
There is a spaceat the end

In [9]:
increment = '4%'
print(increment.rstrip('%'))

4

In [11]:
spaces = "    trim whitespaces   "
print(spaces)
print(spaces.strip())

    trim whitespaces
trim whitespaces

In [13]:
increment = '4%%%%%'
print(increment.rstrip('%'))

4

In [16]:
num_with_chars  = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [15]:
val = "2 apples"
napples = val[0]
print('number of apples is' , napples)

number of apples is 2

In [17]:
what = val[2:]
print(what)

apples

In [19]:
what = val[2:4]
print(what)

ap

In [20]:
what = val[2:5]
print(what)

app

In [21]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [22]:
print(batch[:-2])

5 oranges 3 monkeys

In [23]:
animals = batch[10 : -2]
print(animals)

3 monkeys

In [24]:
nums= "123456789"
even_nums = nums[1 : : 2]
print(even_nums)

2468

In [25]:
nums= "123456789"
even_nums = nums[1 : : 3]
print(even_nums)

258

In [26]:
print(nums[::2])

13579

In [27]:
first_name = "Monty"
last_name = 'python'
name = first_name + " " + last_name
print(name)

Monty python

In [30]:
age = 20
my_age = "I am "+ str(age) + " years old"
print(my_age)

I am 20 years old