In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string :
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

#pattern to print
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
for i in range (1,5):
    for j in range (1, i) :
        print("*",end=' ')
    print()

*
* *
* * *

# Enumerate

In [16]:
my_string = "Mary had a little lamb"
for n,a in enumerate(my_string):
    print(a,n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [13]:
vowels = ''
n=0
for alphabet in my_string : 
    if alphabet in 'aeiou' :
        vowels += ' ' + alphabet 
        n+=1
print(vowels+"  "+str(n))

 a a a i e a  6

In [15]:
nums = '83888387456320147358'
allEven = ''
allOdd = ''
for number in nums :
    if int(number) % 2 == 0 :
        allEven += number 
    else :
        allOdd += number

print('All Evens are : '+ allEven + ' & All odds are : '+ allOdd)

All Evens are : 88888462048 & All odds are : 337531735